*{
    box-sizing: border-box;
}
.container{
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    color: black;
    font-family: Calibri;
    text-transform: uppercase;
    font-size: 40px;
}
.bt1{
    width: 20%;
    float: left;
}
.bt2{
    width: 20%;
    float: left;
}
.bt3{
    width: 20%;
    float: left;
}
.bt4{
    width: 20%;
    float: left;
}
.bt5{
    width: 20%;
    float: left;
}
button{
    background: rgba(8, 117, 81, 0.479);
    color: aliceblue;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
button:hover{
    background: white;
    color:black;
    cursor: pointer;
}
.image{
    padding-left: 18%;
    padding-top: 12%;
}